		<!-- Footer Start -->
		<div class="container py-4 bg-secondary text-center">
			<p class="m-0 text-white">Participating Groups:
				{% for meetup in meetupLocations %}
				{{ meetup }}{% if not loop.last %},{% endif %}
				{% endfor %}
			</p>
			<p class="m-0 text-white">
				&copy; MergePHP {{ 'now' | date('Y') }}. Source code available <a class="text-white font-weight-bold" href="https://www.github.com/mergephp/mergephp-website/">on GitHub</a>. Designed by <a class="text-white font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
			</p>
		</div>
		<!-- Footer End -->
	</div>
</div>

<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
<script src="/js/next-meeting.js" defer></script>
</body>
</html>
