{% include('header.twig.html') %}

{% if nextMeetup %}
<div class="container p-0">
	<img class="w-100" src="images/mastering-resilience.jpg" alt="Image">
</div>
<div class="container bg-white pt-5">
	<div class="row px-3 pb-5">
		<div class="col-md-12">
			<p>Join us on
				<time datetime="{{ nextMeetup.getDateTime().format('c') }}" style="display:inline">{{ nextMeetup.getDateTime().format('F jS, Y') }}</time>
				as {{ nextMeetup.getSpeakerName() }} presents</p>
			<h2 class="mb-4 font-weight-bold">{{ nextMeetup.getTitle() }}</h2>
			<p class="m-0">
				{{ nextMeetup.getDescription()|markdown_to_html }}
			</p>
			<h3>Presented by {{ nextMeetup.getSpeakerName() }}</h3>
			<p>{{ nextMeetup.getSpeakerBio()|markdown_to_html }}</p>

			{% if nextMeetup.getMeetupLinks()|length > 0 %}
			<p>RSVP:
				{% for name, link in nextMeetup.getMeetupLinks() %}
				<a href="{{ link }}">{{name}}</a>{% if not loop.last %}, {% endif %}

				{% endfor %}
			</p>
			{% endif %}
		</div>
	</div>
</div>

<div class="container py-5 px-4 bg-secondary text-center">
	<h1 class="text-white font-weight-bold">Do you have a topic you love to talk about? Share it with the group!</h1>
</div>
{% else %}
<div class="container p-0">
	<img class="w-100" src="images/elephpant_pile.webp" alt="ElePHPant Pile">
</div>
<div class="container bg-white pt-5">
	<div class="row px-3 pb-5">
		<div class="col-md-12 text-center">
			<h1>Do you have a topic you love to talk about? Share it with the group!</h1>
		</div>
	</div>
</div>
{% endif %}

<div class="container bg-white pt-5">
	<div class="row px-3 pb-5">
		<div class="col-md-12 text-center">
			<h3><a href="https://mphp.io/speakers">Speaker Signups</a></h3>
			<h3><a href="https://mphp.io/suggest">Suggest Speakers</a></h3>
			<h3><a href="/meetups/{{ archiveYear }}/">View past meetups</a></h3>
		</div>
	</div>
</div>

{{ include('footer.twig.html', {'meetupLocations': meetupLocations}) }}
